# 2024/5/24

REACT_APP_API_SERVICE_NAME=
REACT_APP_API_KEY=
REACT_APP_API_SECRET=

# Optional
REACT_APP_DEBUG=false
REACT_APP_CHAIN_ID=
REACT_APP_API_URL=
REACT_APP_MARKET_API_URL=
REACT_APP_QUBIC_WALLET_URL=
REACT_APP_QUBIC_API_KEY=
REACT_APP_QUBIC_API_SECRET=
REACT_APP_AUTH_REDIRECT_URL=
REACT_APP_VERIFY_URL=
REACT_APP_QUBIC_PASS_URL=
REACT_APP_QUBIC_PAYMENT_HOST=
MOCK_BIND_SERVICE_API=